/*
background: #ffffff;
color: #2f303a;
color: #212121;
color: #2196f3;
color: #757575;*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --card-set-gap: 30px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}
.img {
  display: block;
  max-width: 100%;
}
/* шапка профіля */

.logo {
  color: black;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  padding-top: 25px;
  padding-bottom: 24px;
}

.site-nav {
  display: flex;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.adres {
  display: flex;
  margin-left: auto;
  align-items: center;
  color: #757575;
  letter-spacing: 0.02em;
}

.link-contact {
  fill: currentColor;
  color: #757575;
}

.adres-link:hover,
.adres-link:focus {
  color: #2196f3;
}

.adres-link {
  display: flex;
}

.contact:not(:last-child) {
  margin-right: 50px;
}

.contact-icon {
  margin-right: 10px;
}

.contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.accent-logo {
  color: var(--accent-color);
}

/* заголовок */

.hero {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  display: block;
  text-align: center;
  max-width: 696px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.button {
  display: block;
  min-width: 200px;
  height: 50px;
  border: inherit;
  border-radius: 4px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.button::before,
.button::after {
  content: "";
  width: 216px;
  height: 50px;
}

.button:hover,
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}


/* характеристики */

.basic-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1* var(--card-set-gap))
  margin-top: calc(-1* var(--card-set-gap))
}

.basic-list > .basic-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.basic-item {
  max-width: 270px;
  border-radius: 4px;
}

.basic-icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.basic-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
} 

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/* робота */

.our-work{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1* var(--card-set-gap))
  margin-top: calc(-1* var(--card-set-gap))
}

.our-work > .works{
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.work-section-pading {
  padding-bottom: 94px;
}

.work-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 50px;
}


/* команда */
.team {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f4fa;
  margin-left: calc(-1* var(--card-set-gap))
  margin-top: calc(-1* var(--card-set-gap))
  
}

.team > .team-list{
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-list {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.caption {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.caption-title {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.caption-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.caption-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.caption-soc-item:first-child {
  margin-left: 0px;
}

.caption-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.caption-soc-icon {
  fill: #afb1b8;
}

.caption-soc-link:hover,
.caption-soc-link:focus {
  background: #2196f3;
}
.caption-soc-link:hover .caption-soc-icon,
.caption-soc-link:focus .caption-soc-icon {
  fill: #ffffff;
}

/* Постійні клієнти */

.client {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.regular-customers-list {
  display: flex; 
  margin-left: calc(-1* var(--card-set-gap))
  margin-top: calc(-1* var(--card-set-gap))
}

.regular-customers-list > .regular-customers-item{
  flex-basis: calc(100% / 6 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}



.regular-customers-icon {
  fill: #afb1b8;
}

.regular-customers-link {
  display: flex;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.regular-customers-link:hover .regular-customers-icon,
.regular-customers-link:focus .regular-customers-icon {
  fill: #2196f3;
}
.regular-customers-link:hover {
  border: 1px solid #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.address {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.streat:not(:last-child) {
  margin-bottom: 9px;
}
.address-map {
  color: var(--primary-white-color);
}
.address .link:hover {
  color: var(--accent-color);
}

.footer .container {
  display: flex;
}

.join {
  display: block;
  margin-left: 70px;
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-title {
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background: #2196f3;
}
.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
  fill: #ffffff;
}
/*Портфоліо*/

.header {
  border-bottom: 1px solid #ececec;
}

/* меню кнопок */
.menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn:not(:last-child) {
  margin-right: 8px;
}
.button-tap {
  color: var(--title-text-color);
  cursor: pointer;
  min-width: 84px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  padding: 6px 22px;
  border-radius: 4px;
  border: inherit;
  background-color: Solid #f5f4fa;
}
.button-tap:hover,
.button-tap:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* меню зображень */

.menu-picture {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.menu-picture > .element {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.name-picture {
  padding: 24px 20px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.text-subject {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
.subject {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.shadow:hover,
.shadow:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.shadow {
  display: block;
  margin: auto;
}
/* модальне вікно */
.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
 background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none; 
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  
}
.close{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: 0px;
  margin: 8px 8px;
  padding: 6px 6px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  list-style: none; 
  
}



